
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/images/11.jpg" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-caption">
            <h5 class="text-white ">The Information Technology Institute (ITI)</h5>
              <p>The official page of Information Technology Institute, A leading national institute in ICT human capacity building, established with the Ministry of Communications and Information Technology (MCIT)</p>
              <a class="btn btn-outline-info text-white " [routerLink]="['/about']" >
                For More
                </a>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/images/13..jpg" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-caption">
            <h5 class="text-white ">The Information Technology Institute (ITI)</h5>
              <p class="text-white">The official page of Information Technology Institute, A leading national institute in ICT human capacity building, established with the Ministry of Communications and Information Technology (MCIT)</p>
              <a class="btn btn-outline-info text-white " [routerLink]="['/about']" >
                For More
                </a>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/images/11..jpg" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-caption">
            <h5 class="text-white ">The Information Technology Institute (ITI)</h5>
              <p class="text-white">The official page of Information Technology Institute, A leading national institute in ICT human capacity building, established with the Ministry of Communications and Information Technology (MCIT)</p>
              <a class="btn btn-outline-info text-white " [routerLink]="['/about']" >
                For More
                </a>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/images/12..jpg" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-caption">
            <h5 class="text-white ">The Information Technology Institute (ITI)</h5>
              <p class="text-white">The official page of Information Technology Institute, A leading national institute in ICT human capacity building, established with the Ministry of Communications and Information Technology (MCIT)</p>
              <a class="btn btn-outline-info text-white " [routerLink]="['/about']" >
                For More
                </a>
          </div>
        </ng-template>
      </ngb-carousel>


      <section class="activity  pt-5 container">
        <div class="activity-header text-center my-3">
            <h2 class="text-center mt-0">Some Activity</h2><hr>
        </div>
        <div class="activity-container row text-center position-relative">
            <div class="activity-cards col-12 col-sm-4">
                <div class="img">
                    <img src="../../../assets/images/f1.jpg" class="w-100">
                    <div class="feature-span ">
                        <span><i class="fab fa-facebook-square" ></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                        <span><i class="fab fa-instagram-square"></i></span>
                        <span><i class="fab fa-youtube-square"></i></span>
                    </div>
                </div>
                
                <p>ITI has accumulated
                    and developed significant experience and expertise in producing
                     high quality development Our programs always reflect the latest
                      developments and the rapid technological progress in the global technology
                       industry. We keep monitoring future trends </p>
                       <a class="btn btn-dark text-white " [routerLink]="['/about']" >
                        For More
                        </a>
            </div>
            <div class="activity-cards col-12 col-sm-4 ">
                <div class="img">
                    <img src="../../../assets/images/f2.jpg" class="w-100">
                    <div class="feature-span">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                        <span><i class="fab fa-instagram-square"></i></span>
                        <span><i class="fab fa-youtube-square"></i></span>
                    </div>
                </div>
                
                <p>ITI has accumulated
                    and developed significant experience and expertise in producing
                     high quality development Our programs always reflect the latest
                      developments and the rapid technological progress in the global technology
                       industry. We keep monitoring future trends </p>
                       <a class="btn btn-dark text-white " [routerLink]="['/about']" >
                        For More
                        </a>
            </div>
            <div class="activity-cards col-12 col-sm-4">
                <div class="img">
                    <img src="../../../assets/images/f3.jpg" class="w-100">
                    <div class="feature-span">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                        <span><i class="fab fa-instagram-square"></i></span>
                        <span><i class="fab fa-youtube-square"></i></span>
                    </div>
                </div>
                
                <p>ITI has accumulated
                    and developed significant experience and expertise in producing
                     high quality development Our programs always reflect the latest
                      developments and the rapid technological progress in the global technology
                       industry. We keep monitoring future trends </p>
                       <a class="btn btn-dark text-white " [routerLink]="['/about']" >
                        For More
                        </a>
            </div>
        </div>
    </section>
    <section class="achievement  pt-5 row text-center gx-0 ">
        <div class="our-feature text-center my-3">
          <h2 class="text-center mt-0">Some ITI Graduation Project</h2><hr>
          <br>
      </div>
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="" title="Project Name">
                        <img class="img-fluid" src="assets/images/portfolio/thumbnails/1.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">School website </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="" title="Project Name">
                        <img class="img-fluid" src="assets/images/portfolio/thumbnails/2.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">online Game</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="" title="Project Name">
                        <img class="img-fluid" src="assets/images/portfolio/thumbnails/3.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">online photo store</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="" title="Project Name">
                        <img class="img-fluid" src="assets/images/portfolio/thumbnails/4.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">E-Commerce Store</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="" title="Project Name">
                        <img class="img-fluid" src="assets/images/portfolio/thumbnails/5.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Medical Tools Store</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="" title="Project Name">
                        <img class="img-fluid" src="assets/images/portfolio/thumbnails/6.jpg" alt="..." />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Online Tools Store</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </section>

    <section class="achievement  pt-5 row text-center gx-0 ">
      <div class="our-feature text-center my-3">
        <h2 class="text-center mt-0">Some Great Events</h2>
        <br>
    </div>
    
        <div class="achievement-card text-center mb-3 col-12 col-sm-3">
            <img src="../../../assets/images/login.jpg" class=" w-100" id="main-img">
            <p class="w-75 pt-2 m-auto">ITI has accumulated
              and developed significant experience and expertise in producing
               high quality development </p>
        </div>
        <div class="achievement-card col-12 mb-3 col-sm-3">
            <img src="../../../assets/images/f5.jpg" class=" w-100" id="main-img">
            <p class="w-75 pt-2 m-auto">ITI has accumulated
              and developed significant experience and expertise in producing
               high quality development  </p>
        </div>
        <div class="achievement-card col-12 mb-3 col-sm-3 ">
            <img src="../../../assets/images/13..jpg" class="w-100 " id="main-img">
            <p class="w-75 pt-2 m-auto">ITI has accumulated
              and developed significant experience and expertise in producing
               high quality development </p>
        </div>
        <div class="achievement-card col-12 mb-3 col-sm-3">
            <img src="../../../assets/images/11..jpg" class="w-100" id="main-img">
            <p class="w-75 pt-2 m-auto">ITI has accumulated
              and developed significant experience and expertise in producing
               high quality development </p>
        </div>
    </section>


