<p-dialog header="Update Student " [(visible)]="display">
  <div class="grid p-fluid">
    <div class="col-12 md:col-4">
      <div class="p-inputgroup mb-3">
        fullname :
        <input
          [(ngModel)]="Student.fullname"
          (ngModelChange)="(Student?.fullname)"
          type="text"
          pInputText
          placeholder="fullname"
        />
      </div>

      <div class="p-inputgroup mb-3">
        Address :
        <input
          [(ngModel)]="Student.address"
          (ngModelChange)="(Student?.address)"
          type="text"
          pInputText
          placeholder="address"
        />
      </div>
      <div class="p-inputgroup mb-3">
        Age :
        <input
          [(ngModel)]="Student.age"
          (ngModelChange)="(Student?.age)"
          type="text"
          pInputText
          placeholder="age"
        />
      </div>

      <div class="p-inputgroup mb-3">
        image :
        <input
        [(ngModel)]="Student.image"
        (ngModelChange)="(Student?.image)"
        type="text"
        pInputText
        placeholder="image"
        />
      </div>

      <div class="p-inputgroup mb-3">
        Department :
        <input
          type="text"
          pInputText
          placeholder="department"
          [(ngModel)]="Student.department"
          (ngModelChange)="(Student?.department)"
        />
      </div>
      <div class="p-inputgroup mb-3">
        GBA :
        <input
          type="text"
          pInputText
          placeholder="GBA"
          [(ngModel)]="Student.GBA"
          (ngModelChange)="(Student?.GBA)"
        />
      </div>
    </div>
    <p-button label="Update" (click)="updateStudent()">
    </p-button>
  </div>
</p-dialog>

<div class="d-flex justify-content-evenly">
  <button class="btn btn-success w-100 mx-2" (click)="editStudent()">
    update
  </button>
</div>
