body {
    overflow-x: hidden;
    height:1000px;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  
  }
  
  @media (min-width: 768px) {
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
  }
  